@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
.sidebarTwo {
  width: 3rem;
  height: 100vh;
  position: fixed;
  background-color: #181530;
  transition: width 200ms ease;
  padding: 0 0 16px;
  border-top-right-radius: 10px;
}
.sidebarTwo.open {
  width: 240px;
}
.sidebarNavTwo {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.blue-text {
  color: #2d9acb;
}
.white-text {
  color: #fff;
}
.sidebarItem {
  width: 100%;
  border-top: 1px solid gray;
}

.sidebarTwoLink {
  display: flex;
  align-items: center;
  height: 3rem;
  text-decoration: none;
  transition: 600ms;
  font-family: Assistant;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 1px;
  color: #727788;
}
.sidebarItem:first-child {
  border-top: none;
  margin-top: 0rem;
}
.sidebarItem:first-child:hover {
  background-color: #181530;
  border-top-right-radius: 10px;
}
.sidebarItem:last-child {
  margin-top: auto;
}
.sidebarItem:hover {
  background-color: #2f2b45;
}
.sidebarTwoLink svg {
  min-width: 2rem;
  font-size: 1rem;
  margin-left: 10px;
}
.sidebarTwo.open .link-text {
  display: block;
}
.link-text {
  display: none;
  margin-left: 1rem;
  font-size: 14px;
}
.dropdownIcon {
  display: none;
}
.sidebarTwo.open .dropdownIcon {
  display: block;
}
.sidebarActionButton {
  cursor: pointer;
}
.sidebarTwo.open .sidebarActionButton {
  display: flex;
  justify-content: space-between;
}
.settings {
  display: flex;
  align-items: center;
  height: 5rem;
}

.settings svg {
  min-width: 2rem;
  margin: 0 1.5rem;
  color: #727788;
  cursor: pointer;
}
.dropdownLink {
  width: 100%;
  background-color: #2f2b45;
  height: 50px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 20px;
  cursor: pointer;
  justify-content: center;
}
.is-active {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: 'Assistant', sans-serif;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}
